//
// Layouts
// --------------------------------------------------

#wrapper {
  margin-top: (@navbarHeight + @halfGridGutterWidth);
  background: @pageBackground;
  .box-shadow(0 0 @halfGridGutterWidth rgba(0, 0, 0, 5%));
}


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
  padding: 0 @gridGutterWidth;
}

// Sidebar container
.sidebar {
  #grid > .core > .span(8);
  padding: 0 @gridGutterWidth;
  display: none;
}


//
// Grid system
// --------------------------------------------------


// Fixed
#grid > .core(@gridColumnWidth, @gridGutterWidth);

.row.alternative {
  #grid > .core(@alternativeGridColumnWidth, @alternativeGridGutterWidth);
}

.row.tiles {
  #grid > .core(@tilesGridColumnWidth, @tilesGridGutterWidth);
  margin-right: -@gridGutterWidth;
}

// Reset utility classes due to specificity
[class*="span"].hide {
  display: none;
}

[class*="span"].pull-right {
  float: right;
}
