//
// Layouts
// --------------------------------------------------

#wrapper {
  margin-top: @halfGridGutterWidth;
  margin-bottom: @halfGridGutterWidth;
  background: @pageBackground;
  .box-shadow(0 0 @halfGridGutterWidth rgba(0, 0, 0, 5%));
}

#page-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .opacity(0);
  .transition(opacity 2s linear);
}

body.nav-open,
body.search-open,
body.modal-open {
  
  #page-overlay {
    display: block;
    background-color: @black;
    .opacity(60);
    .transition(opacity 2s linear);
  }
  
}

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
  padding: 0 @gridGutterWidth;
}

// Sidebar container
.sidebar {
  #grid > .core > .span(8);
  padding: 0 @gridGutterWidth;
  display: none;
}


//
// Grid system
// --------------------------------------------------


// Fixed
#grid > .core(@gridColumnWidth, @gridGutterWidth);

.row.alternative {
  #grid > .core(@alternativeGridColumnWidth, @alternativeGridGutterWidth);
}

.row.tiles {
  #grid > .core(@tilesGridColumnWidth, @tilesGridGutterWidth);
  margin-right: -@gridGutterWidth;
}

// Reset utility classes due to specificity
[class*="span"].hide {
  display: none;
}

[class*="span"].pull-right {
  float: right;
}
