//
// Layouts
// --------------------------------------------------


// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
  padding: 0 @gridGutterWidth;
}


//
// Grid system
// --------------------------------------------------


// Fixed
#grid > .core(@gridColumnWidth, @gridGutterWidth);

.row.alternative {
  #grid > .core(@alternativeGridColumnWidth, @alternativeGridGutterWidth);
}

.row.tiles {
  #grid > .core(@tilesGridColumnWidth, @tilesGridGutterWidth);
  margin-right: -@gridGutterWidth;
}

// Reset utility classes due to specificity
[class*="span"].hide {
  display: none;
}

[class*="span"].pull-right {
  float: right;
}
