/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */
dl {
  margin: @paragraphMargin 0;
  
  dt,
  dd {
    line-height: @narrowLineHeight;
    padding-bottom: @quarterGridGutterWidth;
  }
  
  dt {
    font-weight: @fontWeightBold;
  }
  
  dd {
    margin: 0 0 0 @gridGutterWidth;
  }
  
}

/**
 * Address margins and paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  margin: @paragraphMargin 0;
  padding: 0 0 0 @gridGutterWidth;
  
  ol,
  ul {
    margin: 0;
  }
  
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav {

  ul,
  ol {
    list-style: none;
    list-style-image: none;
  }
  
}

li {
  line-height: @narrowLineHeight;
  padding-bottom: @quarterGridGutterWidth;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  
  > li {
    display: inline-block;
    .ie7-inline-block();
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  
}

// Horizontal layout (like forms)
.dl-horizontal {
  .clearfix(); // Ensure dl clears floats if empty dd elements present
  
  dt {
    float: left;
    width: @horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    .text-overflow();
  }
  
  dd {
    margin-left: @horizontalComponentOffset;
  }
  
}