//
// Nav Layout
// --------------------------------------------------

#nav {
  position: fixed;
  top: 0;
  left: -@desktopSidebarWidth;
  .opacity(20);
  z-index: @zindexFixedNavbar;
}

body.nav-open {
  overflow-x: hidden;
  
  #nav {
    left: 0;
    .opacity(100);
  }
  
  #page-overlay {
    left: @desktopSidebarWidth;
  }
  
  #wrapper,
  #header .container,
  #footer .container {
    position: relative;
    left: @desktopSidebarWidth;
    margin-left: 0;
  }
  
}

.csstransforms3d.csstransitions {

  #nav {
    display: block;
    .scale(0, 0.9);
    .transition(all 200ms ease);
  }
  
  #wrapper,
  #header .container,
  #footer .container {
    .translate(0, 0);
    .transition(all 200ms ease);
  }
  
  body.nav-open {
    
    #nav {
      .scale(1, 1);
      .transition(all 200ms ease);
    }
    
    #wrapper,
    #header .container,
    #footer .container {
      left: 0;
      .translate(@desktopSidebarWidth, 0);
      .transition(all 200ms ease);
    }
    
  }
  
}

#nav-back {
  position: relative;
  z-index: @zindexFixedNavbar;
  height: @navbarHeight;
  
  a {
    margin: @quarterGridGutterWidth 0;
    padding: @quarterGridGutterWidth @gridGutterWidth;
    height: (@navbarHeight - @gridGutterWidth);
    line-height: (@navbarHeight - @gridGutterWidth);
    display: block;
    .border-radius(@borderRadiusLarge);
    
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 2%);
    }
    
  }
  
}