//
// Search Layout
// --------------------------------------------------

#search {
  position: fixed;
  top: 0;
  right: -@desktopSidebarWidth;
  .opacity(20);
  z-index: @zindexFixedNavbar;
}

body.search-open {
  overflow-x: hidden;
  
  #search {
    right: 0;
    .opacity(100);
  }
  
  #page-overlay {
    left: auto;
    right: @desktopSidebarWidth;
  }
  
  #wrapper,
  #header .container,
  #footer .container {
    position: relative;
    left: auto;
    right: @desktopSidebarWidth;
    margin-right: 0;
  }
  
}

.csstransforms3d.csstransitions {

  #search {
    display: block;
    .scale(0, 0.9);
    .transition(all 200ms ease);
  }
  
  #wrapper,
  #header .container,
  #footer .container {
    .translate(0, 0);
    .transition(all 200ms ease);
  }
  
  body.search-open {
    
    #search {
      .scale(1, 1);
      .transition(all 200ms ease);
    }
    
    #wrapper,
    #header .container,
    #footer .container {
      right: 0;
      .translate(-@desktopSidebarWidth, 0);
      .transition(all 200ms ease);
    }
    
  }
  
}