.uxaria-columns {
	display: grid;
	width: 100%;
	gap: var(--uxaria-size-m, 1.6rem);
	grid-template-columns: var(--uxaria-columns-template, 1fr);
}

@media (min-width: 48em) {
	.uxaria-columns {
		--uxaria-columns-template: 1fr 1fr;
	}
}
