.ux-columns {
	display: grid;
	width: 100%;
	gap: var(--ux-size-m, 1.6rem);
	grid-template-columns: var(--ux-columns-template, 1fr);
}

@media (min-width: 48em) {
	.ux-columns {
		--ux-columns-template: 1fr 1fr;
	}
}
