{% extends 'layouts/page.html' %}

{% block title %}Uxaria <small>User Interface Toolkit for the Web</small>{% endblock title %}

{% block lead %}
  <p>Uxaria is a user interface toolkit for the web based on <a href="http://twitter.github.io/bootstrap/" target="blank">Twitter Bootstrap</a>. It shares the naming conventions for classes and variables with Bootstrap, but differs in design and implementation.</p>
  <p>Uxaria provides a modular set of sane default styles for most common elements in complex web designs. Responsive design is at the core of this project, with the flexibility for adaptions that make sense in mind.</p>
{% endblock lead %}

{% block body %}
  <div class="row alternative">
    <div class="span9">
      
      <h2>Design Goals</h2>
      
    </div>
    <div class="span6">
      
      <h3>Excellent Usability</h3>
      
    </div>
    <div class="span6">
      
      <h3>Solid Accessibility</h3>
      
    </div>
    <div class="span6">
      
      <h3>Swiss Design</h3>
      
    </div>
    <div class="span6">
      
      <h3>Clean &amp; Reusable Code</h3>
      
    </div>
  </div>
  
  <hr />
  
  <div class="row alternative">
   <div class="span9">
     
     <h2>Technologies</h2>
     
   </div>
   <div class="span4 span3-tablet span2-phone">
     
     <h3>HTML</h3>
     <ul>
       <li><a href="http://www.php.net" target="_blank">PHP</a></li>
       <li><a href="http://silex.sensiolabs.org" target="_blank">Silex</a></li>
       <li><a href="http://twig.sensiolabs.org" target="_blank">Twig</a></li>
     </ul>
     
   </div>
   <div class="span4 span3-tablet span2-phone">
     
     <h3>CSS</h3>
     <ul>
       <li><a href="http://leafo.net/lessphp/" target="_blank">Less</a></li>
       <li><a href="http://twitter.github.io/bootstrap/components.html" target="_blank">Twitter Bootstrap components</a>
     </ul>
     
   </div>
   <div class="span4 span3-tablet span2-phone">
     
     <h3>Javascript</h3>
     <ul>
       <li><a href="http://jquery.com" target="_blank">jQuery</a></li>
       <li><a href="http://modernizr.com" target="_blank">Modernizr</a></li>
       <li><a href="http://twitter.github.io/bootstrap/javascript.html" target="_blank">Twitter Bootstrap components</a>
     </ul>
     
   </div>
  </div>
{% endblock body %}