{% extends 'layouts/page.html' %}

{% block title %}Uxaria <small>User Interface Toolkit for the Web</small>{% endblock title %}

{% block lead %}
  <p>Uxaria is a user interface toolkit for the web based on <a href="http://twitter.github.io/bootstrap/" target="blank">Twitter Bootstrap</a>. It shares the naming conventions for classes and variables with Bootstrap, but differs in design and implementation.</p>
  <p>Uxaria provides a modular set of sane default styles for most common elements in complex web designs. Responsive design is at the core of this project, with the flexibility for adaptions that make sense in mind.</p>
{% endblock lead %}

{% block body %}

{% endblock body %}