.ux-author {
	display: flex;
	gap: var(--ux-size-xs, 0.6rem);
	align-items: center;
}

.ux-author__name {
	order: 2;
}

.ux-author__name strong {
	font-weight: bold;
}

.ux-author__instance {
	color: var(--ux-color-link-underline);
}

.ux-author__avatar {
	order: 1;
	flex-shrink: 0;
	display: block;
	width: 2.5em;
	height: 2.5em;
	background-color: var(--ux-color-link-underline);
	border-radius: 100%;
	overflow: hidden;
}

.ux-author__avatar img {
	width: inherit;
}

@media (min-width: 32em) {
	.ux-author {
		padding-left: 0;
	}

	.ux-author__avatar {
		left: -3em;
	}
}
