{% extends 'layouts/page.html' %}

{% block title %}Typography{% endblock title %}

{% block lead %}
{% endblock lead %}

{% block body %}
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Headings</h3>
        <p>Headings h1 to h6 with sideheads, datelines or subtitles marked up using the <code>&lt;small&gt;</code> tag:</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <h1><small>The Extremes of Good and Evil</small> The Mistaken Idea of Denouncing Pleasure</h1>
      
      <h2>Pleasure &amp; Pain <small>Intrinsic Value and Consequences</small></h2>
      
      <h3><small>Philosophy</small> Weakness of Will</h3>
      
      <h4>Blinded by Desire <small>Gomorra, January 1</small></h4>
      
      <h5>Righteous Indignation</h5>
      
      <h6>Principle of Selection</h6>
      
    </div>
  </div>
  
  <div class="row alternative">
    <div class="span6 offset1-tablet">
    
      <section>
        <h3>Body Copy</h3>
        <p>Paragraphs. Assign the class <code>lead</code> to the paragraph or a parent section element to make it a lead paragraph:</p>
      </section>
    
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section class="lead">
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
      </section>
      
      <section>
        <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
        <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
      </section>
      
    </div>
  </div>
  
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Emphasis</h3>
        <p>Use standard <abbr title="Hypertext Markup Language">HTML</abbr> tags for strong emphasis (<code>&lt;strong&gt;</code>), emphasis (<code>&lt;em&gt;</code>) marked text (<code>&lt;mark&gt;</code>) or de-emphasised text passages (<code>&lt;small&gt;</code>):</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <p>On the other hand, we denounce with <strong>righteous indignation</strong> and dislike men <mark>who are so beguiled and demoralized by the charms of pleasure of the moment</mark>, so blinded by desire, that they cannot foresee the <em>pain</em> and <em>trouble</em> that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
        <p><small>These cases are perfectly simple and easy to distinguish.</small></p>
      </section>
      
    </div>
  </div>
  
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Alignment Classes</h3>
        <p>Assign the classes <code>text-left</code>, <code>text-center</code> or <code>text-right</code> to control text alignment:</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
    
      <section>
        <p class="text-left">In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.</p>
        <p class="text-center">But in certain circumstances and owing to the claims of duty or the obligations of business is will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
        <p class="text-right">The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
      </section>
    
    </div>
  </div>
  
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Color Classes</h3>
        <p>Use colored text to transport special meaning with the classes <code>text-muted</code>, <code>text-success</code> or <code>text-error</code>:</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <p class="text-muted"><strong>Muted</strong>: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
        <p class="text-success"><strong>Success</strong>: No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
        <p class="text-error"><strong>Error</strong>: We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
      </section>
      
    </div>
  </div>
{% endblock body %}