.ux-card {
	display: grid;
	grid-template-areas: 'preview' 'title' 'content';
	grid-template-rows: min-content min-content max-content;
	gap: 0 var(--ux-size-s, 1rem);
	border-radius: var(--ux-size-s, 1rem);
	box-shadow: 0 var(--ux-size-xxs, 0.4rem) var(--ux-size-xs, 0.6rem) rgba(0, 0, 0, 0.15);
	margin: 0;
	text-decoration: none;
	transition: transform 0.2s ease-in-out;
	transform: scale(1);
	overflow: hidden;
}

a.ux-card:hover,
a.ux-card:focus {
	transform: scale(1.01);
	text-decoration: none;
}

a.ux-card:active {
	transform: scale(0.99);
	text-decoration: none;
}

.ux-card__title {
	grid-area: title;
	padding: var(--ux-size-s, 1rem) var(--ux-size-m, 1.6rem) 0;
	overflow: hidden;
}

.ux-card__preview {
	grid-area: preview;
	aspect-ratio: 21 / 9;
	background-color: var(--ux-section-color-background-alt, var(--ux-color-background-alt));
	margin: 0;
	overflow: hidden;
}

@media screen and (max-width: 32em) {
	.ux-card__preview {
		aspect-ratio: 34 / 9;
	}
}

.ux-card__preview>div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ux-card__preview svg {
	max-height: 80%;
	max-width: 50%;
}

.ux-card__preview .ux-color-scale {
	max-height: 80%;
}

.ux-card__content {
	grid-area: content;
	padding: 0 var(--ux-size-m, 1.6rem) var(--ux-size-s, 1rem);
	color: var(--ux-section-color-text-dimmed, var(--ux-color-text-dimmed));
	overflow: hidden;
}

.ux-card:hover .ux-card__content,
.ux-card:focus .ux-card__content {
	color: var(--ux-section-color-text, var(--ux-color-text));
}
