.uxaria-card {
	display: grid;
	grid-template-areas: 'preview' 'title' 'content';
	grid-template-rows: min-content min-content max-content;
	gap: 0 var(--uxaria-size-s, 1rem);
	border-radius: var(--uxaria-size-s, 1rem);
	box-shadow: 0 var(--uxaria-size-xxs, 0.4rem) var(--uxaria-size-xs, 0.6rem) rgba(0, 0, 0, 0.2);
	margin: 0;
	text-decoration: none;
	transition: transform 0.2s ease-in-out;
	transform: scale(1);
	overflow: hidden;
}

a.uxaria-card:hover {
	transform: scale(1.01);
	text-decoration: none;
}

.uxaria-card__title {
	grid-area: title;
	padding: var(--uxaria-size-s, 1rem) var(--uxaria-size-m, 1.6rem) 0;
}

.uxaria-card__preview {
	grid-area: preview;
	aspect-ratio: 21 / 9;
	background-color: aquamarine;
	margin: 0;
	overflow: hidden;
}

@media screen and (max-width: 32em) {
	.uxaria-card__preview {
		aspect-ratio: 34 / 9;
	}
}

.uxaria-card__preview>div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.uxaria-card__preview svg {
	max-height: 80%;
	max-width: 50%;
}

.uxaria-card__content {
	grid-area: content;
	padding: 0 var(--uxaria-size-m, 1.6rem) var(--uxaria-size-s, 1rem);
	color: var(--uxaria-section-text-color, black);
}

.uxaria-card:hover .uxaria-card__content {
	grid-area: content;
	color: var(--uxaria-section-text-color, black);
}
