// show grid
.show-grid {
  
  [class*="span"] {
    background: @selectionColor;
    min-height: 2em;
    line-height: 2;
    text-align: center;
    margin-bottom: @gridGutterWidth;
    
    [class*="span"] {
      background: darken(@selectionColor, 10%);
      margin-bottom: 0 !important;
    }
    
  }
  
  &.alternative {
    
    [class*="span"] {
      margin-bottom: @alternativeGridGutterWidth;
    }
    
  }
  
  &.tiles {
    
    [class*="span"] {
      margin-bottom: @tilesGridGutterWidth;
    }
    
  }
  
}

// color swatches
.color-swatch {
  width: 1em;
  height: 1em;
  display: inline-block;
  border: 1px solid @tableBorder;
}

// prettify code
@import "../../web/js/lib/prettify/prettify.css";