@font-face {
  font-family: 'CartoGothic';
  src: url('../font/CartoGothicStd-Book-webfont.eot');
  src: url('../font/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/CartoGothicStd-Book-webfont.woff') format('woff'),
       url('../font/CartoGothicStd-Book-webfont.ttf') format('truetype'),
       url('../font/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothic';
  src: url('../font/CartoGothicStd-Italic-webfont.eot');
  src: url('../font/CartoGothicStd-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/CartoGothicStd-Italic-webfont.woff') format('woff'),
       url('../font/CartoGothicStd-Italic-webfont.ttf') format('truetype'),
       url('../font/CartoGothicStd-Italic-webfont.svg#CartoGothicStdItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CartoGothic';
  src: url('../font/CartoGothicStd-Bold-webfont.eot');
  src: url('../font/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/CartoGothicStd-Bold-webfont.woff') format('woff'),
       url('../font/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
       url('../font/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CartoGothic';
  src: url('../font/CartoGothicStd-BoldItalic-webfont.eot');
  src: url('../font/CartoGothicStd-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/CartoGothicStd-BoldItalic-webfont.woff') format('woff'),
       url('../font/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype'),
       url('../font/CartoGothicStd-BoldItalic-webfont.svg#CartoGothicStdBoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}