//
// Fixed Header
// --------------------------------------------------

#header {
  width: 100%;
  #gradient > .vertical(@gray-light4, @gray-light3);
  border-bottom: 1px solid @navbarBorder;
  .box-shadow(0 0 @halfGridGutterWidth rgba(0, 0, 0, 10%));
  z-index: @zindexFixedNavbar;
  top: 0;
  left: 0;
  .transition(height .2s ease);
  
  &.affix {
    
    .collapse {
      height: 0;
    }
    
  }
  
  a {
    display: block;
    margin: @quarterGridGutterWidth 0;
    padding: @quarterGridGutterWidth @gridGutterWidth;
    height: (@navbarHeight - @gridGutterWidth);
    line-height: (@navbarHeight - @gridGutterWidth);
    .border-radius(@borderRadiusLarge);
  
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 2%);
    }
    
  }
  
  h1 {
    margin: 0;
    font-size: 100%;
    
    small {
      font-size: 80%;
    }
    
  }
  
  .collapse {
    height: auto;
  }
  
}

#header + .spacer {
  display: none;
}

#header.affix + .spacer {
  display: block;
}

body.navbars-hidden {
  
  #header {
    display: none;
  }
  
}

body.nav-open,
body.search-open,
body.modal-open {
  
  #header {
    position: fixed;
    
    .collapse {
      height: 0;
    }
  
  }
  
  #header + .spacer {
    display: block;
  }
  
}
