//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@gray-dark4:            #1f1f1f;
@gray-dark3:            #393939;
@gray-dark2:            #565656;
@gray-dark1:            #757575;
@gray:                  #959595;
@gray-light1:           #b4b4b4;
@gray-light2:           #d0d0d0;
@gray-light3:           #e8e8e8;
@gray-light4:           #f8f8f8;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #006bf0;
@blue-dark1:            #2e53a6;
@blue-dark2:            #283d72;
@blue-light:            #5a89ff;
@blue-light1:           #95aaf4;
@blue-light2:           #bfcaf9;

@green:                 #008442;
@green-dark1:           #23633a;
@green-dark2:           #20472d;
@green-light:           #49a066;
@green-light1:          #87b895;
@green-light2:          #b6d3bd;

@red:                   #d03e00;
@red-dark1:             #973823;
@red-dark2:             #6b2b20;
@red-light:             #ed6349;
@red-light1:            #f39488;
@red-light2:            #fcbcb6;

@yellow:                #fff194;
@purple:                #620086;

@blueberry:             #00bdef;
@blueberry-dark:        #132932;
@tangerine:             #ec9f00;
@tangeringe-dark:       #332310;
@lime:                  #8abf00;
@lime-dark:             #1f2910;
@strawberry:            #ff89b8;
@strawberry-dark:       #361f28;


// Scaffolding
// -------------------------
@bodyBackground:        @gray-light3;
@pageBackground:        @white;
@textColor:             @gray-dark4;
@selectionColor:        @blueberry;
@activeColor:           @purple;
@markColor:             @yellow;


// Links
// -------------------------
@linkColor:             @blue;
@linkColorHover:        @blue-dark1;
@linkColorActive:       @blue-dark2;


// Typography
// -------------------------
@sansFontFamily:        CartoGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Consolas, Monaco, "Courier New", monospace;

@baseFontSize:          0.9375em; // 15px
@baseFontFamily:        @sansFontFamily;
@narrowLineHeight:      1.2; // ~18px
@baseLineHeight:        1.4; // ~21px
@wideLineHeight:        1.6; // ~24px
@altFontFamily:         @serifFontFamily;
@fontWeightLight:       300;
@fontWeightRegular:     400;
@fontWeightBold:        700;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    @fontWeightBold; // instead of browser default, bold
@headingsColor:         @gray-dark3; // empty to use BS default, @textColor

@paragraphMargin:       (@baseLineHeight * 0.5em);


// Component sizing
// -------------------------
// Based on 20px font-size and 28px line-height

@fontSizeLarge:         120%; // ~18px
@fontSizeSmall:         87%; // ~13px
@fontSizeMini:          73%; // ~11px

@paddingLarge:          @halfGridGutterWidth @gridGutterWidth;
@paddingSmall:          3px @halfGridGutterWidth;
@paddingMini:           0 @quarterGridGutterWidth;

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @gray-dark3;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   @gray-light2;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @gray-light3;
@formActionsBackground:         @gray-light4;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            @gray-light3;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @gray-dark3;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @gray;


// Hr border color
// -------------------------
@hrBorder:                @gray-light2;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       (2 * @gridColumnWidth + 2 * @gridGutterWidth);


// Wells
// -------------------------
@wellBackground:                  @gray-light4;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    3em;
@navbarBackgroundHighlight:       @white;
@navbarBackground:                @gray-light4;
@navbarBorder:                    darken(@navbarBackground, 10%);

@navbarText:                      @gray-dark1;
@navbarLinkColor:                 @gray-dark1;
@navbarLinkColorHover:            @gray-dark2;
@navbarLinkColorActive:           @gray-dark3;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      @gray-light3;

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                @gray-dark4;
@navbarInverseBackgroundHighlight:       @gray-dark3;
@navbarInverseBorder:                    @gray-dark3;

@navbarInverseText:                      @gray-light2;
@navbarInverseLinkColor:                 @gray-light2;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    @gray-light2;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                @white;
@paginationBorder:                    @gray-light2;
@paginationActiveBackground:          @gray-light4;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             @tangerine-dark;
@warningBackground:       @tangerine;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               @red-dark2;
@errorBackground:         @red-light1;
@errorBorder:             @red;

@successText:             @green-dark2;
@successBackground:       @green-light1;
@successBorder:           @green;

@infoText:                #327793;
@infoBackground:          #e1e8ed;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            @white;
@tooltipBackground:       @black;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       @white;
@popoverArrowWidth:       10px;
@popoverArrowColor:       @white;
@popoverTitleBackground:  @gray-light4;

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         4em;
@gridGutterWidth:         1.4em;
@halfGridGutterWidth:     (@gridGutterWidth / 2);
@quarterGridGutterWidth:  (@gridGutterWidth / 4);
@doubleGridGutterWidth:   (@gridGutterWidth * 2);
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Alternative grid
// -------------------------
@alternativeGridColumnWidth: 2.7em;
@alternativeGridGutterWidth: 2.6em;
@alternativeGridRowWidth:    (@gridColumns * @alternativeGridColumnWidth) + (@alternativeGridGutterWidth * (@gridColumns - 1));


// Tiles grid
// -------------------------
@tilesGridColumnWidth:    5.3em;
@tilesGridGutterWidth:    0.2em;
@tilesGridRowWidth:       (@gridColumns * @tilesGridColumnWidth) + (@tilesGridGutterWidth * (@gridColumns - 1));


// Adaptive grid
// -------------------------
@tabletGridColumns:       9;
@phoneGridColumns:        6;
@tabletGridRowWidth:      (@tabletGridColumns * @gridColumnWidth) + (@gridGutterWidth * (@tabletGridColumns - 1));
@phoneGridRowWidth:       (@phoneGridColumns * @gridColumnWidth) + (@gridGutterWidth * (@phoneGridColumns - 1));


// Sidebars
// -------------------------
@desktopSidebarColumns:   8;
@tabletSidebarColumns:    6;
@phoneLSidebarColumns:    4; // Landscape
@phonePSidebarColumns:    3; // Portrait
@desktopSidebarWidth:     (@desktopSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@desktopSidebarColumns + 1));
@tabletSidebarWidth:      (@tabletSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@tabletSidebarColumns + 1));
@phoneLSidebarWidth:      (@phoneLSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@phoneLSidebarColumns + 1));
@phonePSidebarWidth:      (@phonePSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@phonePSidebarColumns + 1));
