//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #444;
@gray:                  #777;
@grayLight:             #aaa;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #bae6ff;
@blueDark:              #3a6bd3;
@green:                 #2d7e4b;
@red:                   #c2472d;
@yellow:                #fff4b0;
@orange:                #93672c;
@pink:                  #ffa8c8;
@purple:                #743b94;


// Scaffolding
// -------------------------
@bodyBackground:        @grayLighter;
@pageBackground:        @white;
@textColor:             @grayDarker;
@selectionColor:        @blue;
@activeColor:           @purple;
@markColor:             @yellow;


// Links
// -------------------------
@linkColor:             #3a6bd3;
@linkColorHover:        #0f51b3;


// Typography
// -------------------------
@sansFontFamily:        "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Consolas, Monaco, "Courier New", monospace;

@baseFontSize:          0.9375em; // 15px
@baseFontFamily:        @sansFontFamily;
@narrowLineHeight:      1.2; // ~18px
@baseLineHeight:        1.4; // ~21px
@wideLineHeight:        1.6; // ~24px
@altFontFamily:         @serifFontFamily;
@fontWeightLight:       300;
@fontWeightRegular:     400;
@fontWeightBold:        700;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    @fontWeightBold; // instead of browser default, bold
@headingsColor:         @grayDark; // empty to use BS default, @textColor

@paragraphMargin:       (@baseLineHeight * 0.5em);


// Component sizing
// -------------------------
// Based on 20px font-size and 28px line-height

@fontSizeLarge:         120%; // ~18px
@fontSizeSmall:         87%; // ~13px
@fontSizeMini:          73%; // ~11px

@paddingLarge:          @halfGridGutterWidth @gridGutterWidth;
@paddingSmall:          3px @halfGridGutterWidth;
@paddingMini:           0 @quarterGridGutterWidth;

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        #2f96b4;

@btnSuccessBackground:              #62c462;
@btnSuccessBackgroundHighlight:     #51a351;

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               #ee5f5b;
@btnDangerBackgroundHighlight:      #bd362f;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       (2 * @gridColumnWidth + 2 * @gridGutterWidth);


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    3em;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 10%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             @orange;
@warningBackground:       #eee6e0;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               @red;
@errorBackground:         #fae2e0;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             @green;
@successBackground:       #e0eae2;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #327793;
@infoBackground:          #e1e8ed;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         4em;
@gridGutterWidth:         1.4em;
@halfGridGutterWidth:     (@gridGutterWidth / 2);
@quarterGridGutterWidth:  (@gridGutterWidth / 4);
@doubleGridGutterWidth:   (@gridGutterWidth * 2);
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Alternative grid
// -------------------------
@alternativeGridColumnWidth: 2.7em;
@alternativeGridGutterWidth: 2.6em;
@alternativeGridRowWidth:    (@gridColumns * @alternativeGridColumnWidth) + (@alternativeGridGutterWidth * (@gridColumns - 1));


// Tiles grid
// -------------------------
@tilesGridColumnWidth:    5.3em;
@tilesGridGutterWidth:    0.2em;
@tilesGridRowWidth:       (@gridColumns * @tilesGridColumnWidth) + (@tilesGridGutterWidth * (@gridColumns - 1));


// Adaptive grid
// -------------------------
@tabletGridColumns:       9;
@phoneGridColumns:        6;
@tabletGridRowWidth:      (@tabletGridColumns * @gridColumnWidth) + (@gridGutterWidth * (@tabletGridColumns - 1));
@phoneGridRowWidth:       (@phoneGridColumns * @gridColumnWidth) + (@gridGutterWidth * (@phoneGridColumns - 1));


// Sidebars
// -------------------------
@desktopSidebarColumns:   8;
@tabletSidebarColumns:    6;
@phoneLSidebarColumns:    4; // Landscape
@phonePSidebarColumns:    3; // Portrait
@desktopSidebarWidth:     (@desktopSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@desktopSidebarColumns + 1));
@tabletSidebarWidth:      (@tabletSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@tabletSidebarColumns + 1));
@phoneLSidebarWidth:      (@phoneLSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@phoneLSidebarColumns + 1));
@phonePSidebarWidth:      (@phonePSidebarColumns * @gridColumnWidth) + (@gridGutterWidth * (@phonePSidebarColumns + 1));
