{% extends 'layouts/page.html' %}

{% block title %}Lists{% endblock title %}

{% block lead %}
{% endblock lead %}

{% block body %}
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Unordered Lists</h3>
        <p>The order of the items in the list <em>does not</em> matter:</p>
      </section>
    
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <ul>
          <li>But I must explain to you</li>
          <li>How all this mistaken idea of
            <ul>
              <li>Denouncing pleasure</li>
              <li>Praising pain</li>
            </ul>
          </li>
          <li>Was born</li>
          <li>I will give you a complete account of the system</li>
          <li>Expound the actual teachings of the great explorer of the truth</li>
          <li>The master-builder of human happiness</li>
        </ul>
      </section>
    
    </div>
    <div class="span6 offset1-tablet">
      
      <section>
        <h4>Unstyled Lists</h4>
        <p>Unordered lists without bullet points have the class <code>unstyled</code>:</p>
      </section>
    
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <ul class="unstyled">
          <li>Nor again is there anyone who
            <ul>
              <li>Loves</li>
              <li>Pursues</li>
              <li>Desires to obtain</li>
            </ul>
          </li>
          <li>Pain of itself</li>
          <li>Because it is pain</li>
          <li>But because occasionally circumstances occur</li>
          <li>In which toil and pain can procure him some great pleasure</li>
        </ul>
      </section>
      
    </div>
    <div class="span6 offset1-tablet">
      
      <section>
        <h4>Inline Lists</h4>
        <p>Unordered lists with items placed on the same line have the class <code>inline</code>:</p>
      </section>
    
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <ul class="inline">
          <li>To take</li>
          <li>A trivial example</li>
          <li>Which of us</li>
          <li>Ever undertakes</li>
          <li>Laborious physical exercise</li>
          <li>Except to obtain</li>
          <li>Some advantage from it</li>
        </ul>
      </section>
      
    </div>
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Ordered Lists</h3>
        <p>The order of the items in the list <em>does</em> matter:</p>
      </section>
    
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <ol>
          <li>No one
            <ul>
              <li>Rejects</li>
              <li>Dislikes</li>
              <li>Avoids</li>
            </ul>
          </li>
          <li>Pleasure itself</li>
          <li>Because it is pleasure</li>
          <li>But because those</li>
          <li>Who do not know how to pursue pleasure rationally</li>
          <li>Encounter consequences that are extremely painful</li>
        </ol>
      </section>
      
    </div>
    <div class="span6 offset1-tablet">
      
      <section>
        <h3>Description Lists</h3>
        <p>A list of terms and their descriptions:</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
      
      <section>
        <dl>
          <dt>On the other hand</dt>
          <dd>We denounce with righteous indignation and dislike men<dd>
          <dt>Who are<dt>
          <dd>So beguiled and demoralized by the charms of pleasure of the moment</dd>
          <dd>So blinded by desire</dd>
          <dt>That they cannot foresee<dt>
          <dd>
            <dl>
              <dt>Pain<dt>
              <dt>Trouble<dt>
              <dd>that are bound to ensue<dd>
            </dl>
          </dd>
          <dt>Equal blame belongs to those who fail<dt>
          <dd>In their duty through weakness of will, which is the same as saying through shrinking from toil and pain</dd>
        </dl>
      </section>
    
    </div>
    <div class="span6 offset1-tablet">
      
      <section>
        <h4>Horizontal Descriptions</h4>
        <p>Add the class <code>dl-horizontal</code> to make terms and descriptions line up side by side:</p>
      </section>
      
    </div>
    <div class="span6 offset3 span5-phone offset1-phone">
    
      <section>
        <dl class="dl-horizontal">
          <dt>On the other hand</dt>
          <dd>We denounce with righteous indignation and dislike men<dd>
          <dt>Who are<dt>
          <dd>So beguiled and demoralized by the charms of pleasure of the moment</dd>
          <dd>So blinded by desire</dd>
          <dt>That they cannot foresee<dt>
          <dd>
            <dl>
              <dt>Pain<dt>
              <dt>Trouble<dt>
              <dd>that are bound to ensue<dd>
            </dl>
          </dd>
          <dt>Equal blame belongs to those who fail<dt>
          <dd>In their duty through weakness of will, which is the same as saying through shrinking from toil and pain</dd>
        </dl>
      </section>
      
    </div>
  </div>
  
{% endblock body %}