.uxaria-color-customizer {
	margin-bottom: var(--uxaria-size-m, 1.6rem);
}

.uxaria-color-customizer .uxaria-columns {
	--uxaria-columns-template: repeat(2, 1fr);
}

@media (min-width: 32em) {
	.uxaria-color-customizer .uxaria-columns {
		--uxaria-columns-template: repeat(3, 1fr);
	}
}

@media (min-width: 48em) {
	.uxaria-color-customizer .uxaria-columns {
		--uxaria-columns-template: repeat(4, 1fr);
	}
}

@media (min-width: 72em) {
	.uxaria-color-customizer .uxaria-columns {
		--uxaria-columns-template: repeat(6, 1fr);
	}
}
