.ux-color-customizer {
	margin-bottom: var(--ux-size-m, 1.6rem);
}

.ux-color-customizer .ux-columns {
	--ux-columns-template: repeat(2, 1fr);
}

@media (min-width: 32em) {
	.ux-color-customizer .ux-columns {
		--ux-columns-template: repeat(3, 1fr);
	}
}

@media (min-width: 48em) {
	.ux-color-customizer .ux-columns {
		--ux-columns-template: repeat(4, 1fr);
	}
}

@media (min-width: 72em) {
	.ux-color-customizer .ux-columns {
		--ux-columns-template: repeat(6, 1fr);
	}
}
