.spacing-customizer__output {
	list-style: none;
	margin: 0;
	padding: 0;
}

.spacing-customizer__property {
	display: flex;
	align-items: center;
	gap: var(--uxaria-size-s);
	padding-bottom: var(--uxaria-size-xs);
}

.spacing-customizer__placeholder {
	display: block;
	width: 50%;
	background-color: hotpink;
}
