.ux-spacing-customizer {
	margin-bottom: var(--ux-size-m, 1.6rem);
}

.ux-spacing-customizer__output {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ux-spacing-customizer__property {
	display: flex;
	align-items: center;
	gap: var(--ux-size-s);
	padding-bottom: var(--ux-size-xs);
}

.ux-spacing-customizer__placeholder {
	display: block;
	width: 50%;
	background-color: #d7b0de;
}

/* dark color theme */
@media (prefers-color-scheme: dark) {
	.ux-spacing-customizer__placeholder {
		background-color: #5d236a;
	}
}
