{% extends 'layouts/page.html' %}

{% import 'macros/docs.html' as docs %}

{% block title %}Basic Styles{% endblock title %}

{% block lead %}
{% endblock lead %}

{% block body %}
  <div class="row alternative">
    <div class="span6 offset1-tablet">
      
      <section>
        <h2>Font</h2>
        <p>The default <strong>font size</strong> is set to 0.9375em – corresponding to <strong>15px</strong> in most browsers. This font size is used for mobile phones up to 568px, for tablets in portrait orientation with 768px device width and for tablets and small desktops with 1024px device width.</p>
        <p>For larger screens the font size is adjusted to fill the device or browser window width up to a maximum of 1.25em (corresponding to 20px) on a 1366px wide screen.</p>
        <p>The default <strong>line height</strong> is <strong>1.4</strong> - a proven value for good readability for lines with approximately 80 characters per line. The <a href="grid">grid system</a> is optimized for this line length at 6 grid columns.</p>
        <p>Uxaria includes the marvelous <a href="http://www.fontsite.com/2129/cartogothic-std/" target="_blank">CartoGothic Std</a> <strong>font family</strong> by FontSite. It's very legible and clean free font similar to Frutiger.</p>
      </section>
    
    </div>
    <div class="span6 offset2-tablet">
      
      <section>
        <h2>Colors</h2>
        <p>Uxaria sets the following default colors:</p>
        <dl>
          <dt>Background</dt>
          <dd>{{ docs.color('#fff') }}</dd>
          <dt>Text</dt>
          <dd>{{ docs.color('#222') }}<br />{{ docs.color('#444') }} for headings and bold</dd>
          <dt>Links</dt>
          <dd>{{ docs.color('#3a6bd3') }}<br />{{ docs.color('#0f51b3') }} on mouseover</dd>
          <dt>Selection</dt>
          <dd>{{ docs.color('#bae6ff') }}</dd>
        </dl>
      </section>
      
    </div>
  </div>
{% endblock body %}