.ux-color-scale {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	aspect-ratio: 2 / 3;
	overflow: hidden;
}

.ux-color-scale--icon {
	border-radius: var(--ux-size-xs, 0.6rem);
	box-shadow: 0 var(--ux-size-xxs, 0.4rem) var(--ux-size-xs, 0.6rem) rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.ux-color-scale li {
	display: block;
	aspect-ratio: 1 / 1;
	width: 25%;
}

.ux-color-scale li:nth-child(5) {
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: var(--ux-size-xxs, 0.4rem) var(--ux-size-xs, 0.6rem);
	box-sizing: border-box;
}

.ux-color-scale :not(:nth-child(5)) span {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.ux-color-scale :nth-child(5) span {
	color: white;
	font-size: var(--ux-font-size-small);
}
