/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
	/* base sizing */
	--ux-size-base: 1rem;
	--ux-size-factor: 1.618;
	--ux-size-factor-sqrt: 1.272;

	/* spacing sizes */
	--ux-size-xxs: calc(var(--ux-size-base) / (var(--ux-size-factor) * var(--ux-size-factor)));
	--ux-size-xs: calc(var(--ux-size-base) / var(--ux-size-factor));
	--ux-size-s: var(--ux-size-base);
	--ux-size-m: calc(var(--ux-size-base) * var(--ux-size-factor));
	--ux-size-l: calc(var(--ux-size-base) * var(--ux-size-factor) * var(--ux-size-factor));
	--ux-size-xl: calc(var(--ux-size-base) * var(--ux-size-factor) * var(--ux-size-factor) * var(--ux-size-factor));
	--ux-size-xxl: calc(var(--ux-size-base) * var(--ux-size-factor) * var(--ux-size-factor) * var(--ux-size-factor) * var(--ux-size-factor));

	/* fonts sizes */
	--ux-font-size-small: calc(var(--ux-size-base) / var(--ux-size-factor-sqrt));
	--ux-font-size-base: var(--ux-size-base);
	--ux-font-size-large: calc(var(--ux-size-base) * var(--ux-size-factor-sqrt));
	--ux-font-size-xlarge: calc(var(--ux-size-base) * var(--ux-size-factor));
	--ux-font-size-xxlarge: calc(var(--ux-size-base) * var(--ux-size-factor) * var(--ux-size-factor-sqrt));
	--ux-font-size-xxxlarge: calc(var(--ux-size-base) * var(--ux-size-factor) * var(--ux-size-factor));
	--ux-line-height-narrow: var(--ux-size-factor-sqrt);
	--ux-line-height-base: var(--ux-size-factor);

	/* containers */
	--ux-container-padding: var(--ux-size-m);
	--ux-container-max-width: 69.12em;

	/* colors */
	--ux-color-background: white;
	--ux-color-background-alt: #f3f3f3;
	--ux-color-border: #d5d5d5;
	--ux-color-text: #333333;
	--ux-color-text-dimmed: #5c5c5c;
	--ux-color-link: #436bd1;
	--ux-color-link-hover: #3053ad;
	--ux-color-link-underline: #adc0e8;
}

html {
	/* 16px */
	font-size: 1em;
	/* square root of 2 */
	line-height: var(--ux-size-factor);
}

/* 768px till 1152px */
@media screen and (min-width: 48em) and (max-width: 72em) {
	html {
		/* between 16px and 20px */
		font-size: calc(0.5em + 1.0417vw);
	}
}

/* 1152px till 1728px */
@media screen and (min-width: 72em) and (max-width: 108em) {
	html {
		/* between 20px and 25px */
		font-size: calc(0.625em + 0.8618vw);
	}
}

/* wider than 1728px */
@media screen and (min-width: 108em) {
	html {
		/* 25px */
		font-size: 1.5625em;
	}
}

/* reduced spacing on smaller devices */
@media (max-aspect-ratio: 3/4) and (max-width: 72em) {
	:root {
		--ux-size-factor: 1.5;
		--ux-size-factor-sqrt: 1.225;
	}
}

/* even more reduced spacing on smaller devices with very unequal screen sizes */
@media (max-aspect-ratio: 2/3) and (max-width: 48em) {
	:root {
		--ux-size-factor: 1.414;
		--ux-size-factor-sqrt: 1.189;
	}
}

body {
	margin: 0;
	padding: 0;
}
